## 2. Regression homework

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('housing.csv')

In [90]:
df.shape

(20640, 9)

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df['ocean_proximity'].str.lower().str.replace(' ', '_')

0        near_bay
1        near_bay
2        near_bay
3        near_bay
4        near_bay
           ...
20635      inland
20636      inland
20637      inland
20638      inland
20639      inland
Name: ocean_proximity, Length: 20640, dtype: object

In [5]:
strings = list(df.dtypes[df.dtypes == 'object'].index)
strings

['ocean_proximity']

In [6]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
y

In [9]:
df = df[['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value']]

In [10]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [11]:
df.describe()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,35.631861,-119.569704,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.135952,2.003532,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,32.540000,-124.350000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,33.930000,-121.800000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,34.260000,-118.490000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.710000,-118.010000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,41.950000,-114.310000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Setting up the validation framework

In [13]:
n = len(df)

n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_val - n_test

In [14]:
n

20640

In [15]:
n_val, n_test, n_train

(4128, 4128, 12384)

In [16]:
df.iloc[[10, 0, 3, 5]]

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
10,37.85,-122.26,52.0,2202.0,434.0,910.0,402.0,3.2031,281500.0
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
5,37.85,-122.25,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0

In [17]:
idx = np.arange(n)

In [18]:
np.random.seed(42)
np.random.shuffle(idx)

In [19]:
df_train = df.iloc[idx[:n_train]]
df_val = df.iloc[idx[n_train:n_train+n_val]]
df_test = df.iloc[idx[n_train+n_val:]]

In [20]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
20046,36.06,-119.01,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0
3024,35.14,-119.46,30.0,2943.0,NaN,1565.0,584.0,2.5313,45800.0
15663,37.80,-122.44,52.0,3830.0,NaN,1310.0,963.0,3.4801,500001.0
20484,34.28,-118.72,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0
9814,36.62,-121.93,34.0,2351.0,NaN,1063.0,428.0,3.7250,278000.0

In [21]:
len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [22]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [23]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,36.06,-119.01,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0
1,35.14,-119.46,30.0,2943.0,NaN,1565.0,584.0,2.5313,45800.0
2,37.80,-122.44,52.0,3830.0,NaN,1310.0,963.0,3.4801,500001.0
3,34.28,-118.72,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0
4,36.62,-121.93,34.0,2351.0,NaN,1063.0,428.0,3.7250,278000.0

In [24]:
y_train = np.log1p(df_train['median_house_value'].values)
y_val = np.log1p(df_val['median_house_value'].values)
y_test = np.log1p(df_test['median_house_value'].values)

In [28]:
y_train[:5]

array([10.77270764, 10.7320612 , 13.12236738, 12.29500343, 12.53537999])

In [29]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [30]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,36.06,-119.01,25.0,1505.0,NaN,1392.0,359.0,1.6812
1,35.14,-119.46,30.0,2943.0,NaN,1565.0,584.0,2.5313
2,37.80,-122.44,52.0,3830.0,NaN,1310.0,963.0,3.4801
3,34.28,-118.72,17.0,3051.0,NaN,1705.0,495.0,5.7376
4,36.62,-121.93,34.0,2351.0,NaN,1063.0,428.0,3.7250

In [25]:
len(y_train)

12384

### Best way to fill Nan?

In [12]:
from sklearn import linear_model, metrics, model_selection

In [39]:
X_train_z = df_train.fillna(0)
X_val_z = df_val.fillna(0)
X_test_z = df_test.fillna(0)

In [40]:
X_train_m = df_train.fillna(df_train.mean())
X_val_m = df_val.fillna(df_train.mean())
X_test_m = df_test.fillna(df_train.mean())

In [35]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0], w_full[1:]

In [36]:
def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)

In [43]:
w0, w = train_linear_regression(X_train_z, y_train)
y_pred_z = w0 + X_val_z.dot(w)
rmse_z = rmse(y_val, y_pred_z)

print(round(rmse_z, 2))

0.33

In [44]:
w0, w = train_linear_regression(X_train_m, y_train)
y_pred_m = w0 + X_val_m.dot(w)
rmse_m = rmse(y_val, y_pred_m)

print(round(rmse_m, 2))

0.33

### Tuning

In [45]:
def train_linear_regression_reg(X, y, r=0.001):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX = XTX + r * np.eye(XTX.shape[0])

    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0], w_full[1:]

In [55]:
for r in [0.0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    w0, w = train_linear_regression_reg(X_train_z, y_train, r=r)

    y_pred = w0 + X_val_z.dot(w)
    score = rmse(y_val, y_pred)
    
    print(r, '\t', round(score, 2))

0.0 	 0.33
1e-06 	 0.33
0.0001 	 0.33
0.001 	 0.33
0.01 	 0.33
0.1 	 0.33
1 	 0.33
5 	 0.34
10 	 0.34

### Random seed testing

In [58]:
rmse_score_list = []

for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    np.random.seed(i)
    np.random.shuffle(idx)
    
    df_train = df.iloc[idx[:n_train]]
    df_val = df.iloc[idx[n_train:n_train+n_val]]
    df_test = df.iloc[idx[n_train+n_val:]]
    
    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)
    
    y_train = np.log1p(df_train['median_house_value'].values)
    y_val = np.log1p(df_val['median_house_value'].values)
    y_test = np.log1p(df_test['median_house_value'].values)
    
    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    
    X_train_z = df_train.fillna(0)
    X_val_z = df_val.fillna(0)
    X_test_z = df_test.fillna(0)
    
    w0, w = train_linear_regression(X_train_z, y_train)
    y_pred = w0 + X_val_z.dot(w)
    rmse_score = rmse(y_val, y_pred)
    rmse_score_list.append(rmse_score)
    
print(rmse_score_list, round(np.std(rmse_score_list), 3))

[0.3559157375971407, 0.3475544861976158, 0.3451076185197962, 0.33994277781088283, 0.3466419731661704, 0.3341487440323194, 0.34575231053163147, 0.3434912195258144, 0.3415180804185189, 0.3426492113812979] 0.005

### final task

In [93]:
np.random.seed(i)
np.random.shuffle(idx)

df_train = df.iloc[idx[:n_train]]
df_val = df.iloc[idx[n_train:n_train+n_val]]
df_test = df.iloc[idx[n_train+n_val:]]

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = np.log1p(df_train['median_house_value'].values)
y_val = np.log1p(df_val['median_house_value'].values)
y_test = np.log1p(df_test['median_house_value'].values)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

X_train_z = df_train.fillna(0)
X_val_z = df_val.fillna(0)
X_test_z = df_test.fillna(0)

X_train_union = pd.concat([X_train_z, X_val_z])
y_train = np.append(y_train, y_val, 0)

In [92]:
len(df), len(X_train_z), len(X_val_z), len(X_test_z)

(20640, 12384, 16512, 4128)

In [94]:
len(df), len(X_train_union), len(X_test)

(20640, 16512, 4128)

In [97]:
w0, w = train_linear_regression_reg(X_train_union, y_train, r=0.001)

y_pred = w0 + X_test_z.dot(w)
score = rmse(y_test, y_pred)
    
print(score)

0.34051342830761133